html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.8;
}

/* --------------------
   Hero
-------------------- */

.hero {
    height: 100vh;
    background-image: url("./image/syukumine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-overlay {
    position: relative;
    z-index: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.4rem;
    line-height: 2;
    margin-bottom: 40px;
}

.hero-btn {
    background: #c62828;
    color: white;
    padding: 16px 40px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.3s;
}

.hero-btn:hover {
    background: #e53935;
    transform: translateY(-3px);
}

/* --------------------
   About
-------------------- */

#about {
    text-align: center;
    scroll-margin-top: 60px;
}

/* --------------------
   共通
-------------------- */

section,
main {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
}

h2,
h3 {
    color: #2c3e50;
}

a {
    color: #da7a30;
    text-decoration: none;
}
.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}
